<section class="menu cid-r16vIrywHX" once="menu" id="menu2-0">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/#">
                        <img src="assets/images/logo-tu-eliges-366x81.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="/#">
                        BENEFICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="/#">
                        PRUÉBANOS AHORA</a>
                </li>
            </ul>

        </div>
    </nav>
</section>

<section class="engine">
    <a href="https://mobirise.me/o">free one page site templates</a>
</section>

<section class="cid-r16vINprp8 mbr-fullscreen mbr-parallax-background" id="header2-1">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    Tú eliges</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    ¿Sabías que 1 de cada 2 estudiantes que entran a la educación universitaria desertan antes de terminar su carrera?
                    <br>
                    <strong>¡ NOSOTROS TENEMOS LA SOLUCIÓN PARA TI !</strong>
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-white-outline display-4" href="/#!/form">PRUÉBANOS AHORA</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features1 cid-r173NhZyZN" id="features1-2">




    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-idea" style="color: rgb(30, 212, 103);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Disminución en la deserción
                        <strong>universitaria</strong>
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Nuestro modelo puede reducir notablemente la deserción universitaria, ahorrando tiempo y dinero para estudiantes, padres
                        de familia y todo aquel que pague una matrícula universitaria.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-touch" style="color: rgb(30, 212, 103);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Disminución en la deserción
                        <strong>laboral</strong>
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Nuestro modelo puede garantizar en un gran nivel la disminución de deserción laboral, promoviendo la estabilidad laboral
                        y evitando los altos índices de rotación.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-responsive" style="color: rgb(30, 212, 103);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Estudiantes y empleados
                        <strong>más felices</strong>
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        En Tú Eliges estamos convencidos de que las personas son más felices cuando toman una decisión correcta, estudian lo que
                        quieren y trabajan en lo que les gusta.
                    </p>
                </div>
            </div>



        </div>

    </div>

</section>

<section class="mbr-section info4 cid-r177UgkvEZ mbr-parallax-background" id="info4-5">



    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="justify-content-center row">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    METODOLOGÍA</h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Con nuestro modelo analítico basado en datos de profesionales, que han pasado por diferentes experiencias académicas y laborales,
                    tenemos toda la información para ayudarte a tomar la decisión para tu desarrollo profesional.</h3>
                <p class="mbr-text align-right mbr-white mbr-fonts-style display-7"></p>

            </div>
        </div>
    </div>
</section>

<section class="cid-r175kHlt0H" id="footer1-3">





    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="https://mobirise.com/">
                        <img src="assets/images/logo-tu-eliges-2-194x125.png" alt="Mobirise" title="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3"></h5>
                <p class="mbr-text">
                    <strong>Personas felices</strong> estudiando
                    <br>lo que quieren y trabajando
                    <br>en lo que les gusta.</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contáctenos</h5>
                <p class="mbr-text">
                    Correo: soporte@tueliges.com
                    <br>Teléfono: +57 &nbsp;302 277 6594</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">Encuentrános</h5>
                <p class="mbr-text">
                    <a class="text-primary" href="https://mobirise.com/">@tueliges</a>
                    <br>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Tú eliges - Todos los derechos reservados</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>